html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: -5px;
}
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

nav{
    padding-top: 10px;
    width: 100%;
    height: 40px;
    background-color:#ce0808d2;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    justify-items: center;


}

nav li{
    padding-top: 5px;
    justify-content: center;
    padding-left: 50px;
    padding-right: 200px;
    font-family: 'Roboto', sans-serif;
    font-size: 18;
    font-weight: 500;
    letter-spacing: 2px;
}
nav li a{
    text-decoration: none;
    color: white;
    text-align: center;
    justify-content: center;

}
/*contenedor del logo polimes*/
#contenido .logo{
    height:24dvh;
    width: auto;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-align: -webkit-center;
}
/*propiedades de la imagen de polimes*/
#contenido .logo img{
    height:auto;
    width: 300px; 
    padding-top: 100px;

}
#contenido .carrusel{
    height: 65dvh;
    width: 100%;
    display: flex;
    text-align: center;
    text-align: -webkit-center;
}
/*contenedor de la linea delgada de fondo del carrusal de imagenes */
#contenido .carrusel .fondo{

    margin-top: 10%;
    background-image: url("../imagenes/textura.png");
    width: 100%;
    height: 30%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*contenedor de las imagenes del carrusal */
#contenido .carrusel .fondo div{
    margin: 5%;
    width: 386px;
    height: 266px;
    border-radius: 20px;
    border: solid 1px rgba(155, 151, 151, 0.301);
    background-color: #ffffff;
    box-shadow: 5px 14px 13px -1px rgba(0,0,0,0.18);
    -webkit-box-shadow: 5px 14px 13px -1px rgba(0,0,0,0.18);
    -moz-box-shadow: 5px 14px 13px -1px rgba(0,0,0,0.18);
    align-items: center;
    
}
/*propiedades de las imagenes de polimes del carrusel*/
#contenido .carrusel .fondo div img{
    margin-top: 3.5%;
    width: 90%;
    height: 90%; 
    border-radius: 20px;

}
footer{
    display:flex;
    background-color: #ce0808d2;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    left:0px;
    
}
/*propiedades de las redes sociales*/
footer img{
    height: 30px;
    width: auto; 
    padding-inline: 10px 10px;
}
footer .parrafo{
    font-size: 15px;
    color: white;
    margin-top: 15px;

}

footer .redes{
    justify-content: center;
    padding-left: 72%;
    margin-top: 0.5%;
}
/*responsive desing de la pagina*/
@media   (max-width: 1420px)  {
    #contenido .carrusel .fondo div{
        margin: 1%;
    }
    
    nav li{ 
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 100px;
    font-size: 15;
    }
    footer .redes{
        justify-content: center;
        padding-left: 60%;
        margin-top: 0.5%;
    }
}
@media   (max-width: 900px)  {
    #contenido .carrusel .fondo div{
        margin: 1%;
    }
    
    nav li{ 
    padding-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    font-size: 15px;
    margin-right: 45px;
    }
    footer .redes{
        justify-content: center;
        padding-left: 40%;
        margin-top: 0.1%;
    }
    #contenido .carrusel .fondo div{
    margin:20px;
    width: 256px;
    height: 216px; 
    
    }
    #contenido .carrusel .fondo {
    display: inline-block;  
    background-image: none; 
    } 
    html {
    min-height: 100%;
    position: relative;
    }
    nav{
    height: 60px;
    }  
    #contenido .carrusel{
    height: 100dvh;
    }

}
