html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: -5px;
}
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

nav{
    padding-top: 10px;
    width: 100%;
    height: 40px;
    background-color:#ce0808d2;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    justify-items: center;


}

nav li{
    padding-top: 5px;
    justify-content: center;
    padding-left: 50px;
    padding-right: 200px;
    font-family: 'Roboto', sans-serif;
    font-size: 18;
    font-weight: 500;
    letter-spacing: 2px;
}
nav li a{
    text-decoration: none;
    color: white;
    text-align: center;
    justify-content: center;

}
#contenido .logo{
    height:24dvh;
    width: auto;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-align: -webkit-center;
}
#contenido .logo img{
    height:auto;
    width: 300px; 
    padding-top: 100px;
   
}
#contenido .carrusel{
    height: 65dvh;
    width: 100%;
    display: flex;
    text-align: center;
    text-align: -webkit-center;
}

#contenido .carrusel .fondo{
 
    margin-top: 10%;
    background-image: url("../imagenes/textura.png");
    width: 100%;
    height: 30%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contenido .carrusel .fondo div{
    margin: 5%;
    width: 386px;
    height: 266px;
    border-radius: 20px;
    border: solid 1px rgba(155, 151, 151, 0.301);
    background-color: #ffffff;
    box-shadow: 5px 14px 13px -1px rgba(0,0,0,0.18);
    -webkit-box-shadow: 5px 14px 13px -1px rgba(0,0,0,0.18);
    -moz-box-shadow: 5px 14px 13px -1px rgba(0,0,0,0.18);
    align-items: center;
    
}
#contenido .carrusel .fondo div img{
    margin-top: 3.5%;
    width: 90%;
    height: 90%; 
    border-radius: 20px;

}
footer{
    display:flex;
    background-color: #ce0808d2;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    left:0px;
    
}
footer img{
    height: 30px;
    width: auto; 
    padding-inline: 10px 10px;
    

}
footer .parrafo{
    font-size: 15px;
    color: white;
    margin-top: 15px;

}

footer .redes{
    justify-content: center;
    padding-left: 72%;
    margin-top: 0.5%;
}
