html {
    min-height: 100%;
    position: relative;
   
}
body {
    margin: 0;
    margin-bottom: 40px;
}
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

nav{
    padding-top: 10px;
    width: 100%;
    height: 40px;
    background-color:#ce0808d2;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    position:fixed;
    text-align: center;
    justify-items: center;
}

nav li{
    padding-top: 5px;
    justify-content: center;
    padding-left: 50px;
    padding-right: 200px;
    font-family: 'Roboto', sans-serif;
    font-size: 18;
    font-weight: 500;
    letter-spacing: 2px;
}
nav li a{
    text-decoration: none;
    color: white;
    text-align: center;
    justify-content: center;

}
/*contenedor del archivo de POWERBI*/
#contenido .forma{
    width: 100%;
    height: 50px;
}
footer{
    display:flex;
    background-color: #ce0808d2;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    left:0px;
    
}
footer img{
    height: 30px;
    width: auto; 
    padding-inline: 10px 10px;
    

}
footer .parrafo{
    font-size: 15px;
    color: white;
    margin-top: 15px;

}

footer .redes{
    justify-content: center;
    padding-left: 72%;
    margin-top: 0.5%;
}
/*responsive desing*/
@media   (max-width: 1420px)  {
    #contenido .carrusel .fondo div{
        margin: 1%;
    }
    
    nav li{ 
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 100px;
    font-size: 15;
    }
    footer .redes{
        justify-content: center;
        padding-left: 60%;
        margin-top: 0.5%;
    }
}
@media   (max-width: 900px)  {
    #contenido .carrusel .fondo div{
        margin: 1%;
    }
    
    nav li{ 
    padding-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    font-size: 15px;
    margin-right: 45px;
    }
    footer .redes{
        justify-content: center;
        padding-left: 40%;
        margin-top: 0.1%;
    }
    #contenido .carrusel .fondo div{
    margin:2px;
    width: 256px;
    height: 216px; 
    
    }
    #contenido .carrusel .fondo {
    display: inline-block;  
    background-image: none; 
    } 
    html {
    min-height: 100%;
    position: relative;
    }
    nav{
    height: 60px;
} 
}